
.image-effect {
    padding: 3px;
    transition: transform 0.3s ease, padding 0.3s ease;
}

.image-effect:hover {
    transform: scale(1.07);
    padding: 0;
}


.swiper-slide {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.swiper-slide-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

@media (min-width: 0px) and (max-width: 1024px) {
  
 
}

@media (min-width: 1000px) and (max-width: 1400px) {
 
}


@media (max-width: 768px) {
 
}
