/* GLOBAL RESPONSIVE STYLING */

  
.image-container-order {
    padding: 10px;
    transition: padding 0.3s ease;
  }
  
  
.image-container-order:hover {
    padding: 0;
}


.contact-icons-thanks {
  display: flex;
  align-items: center;
  height: 4rem;
  gap: 35px;
  justify-content: center;
  border-radius: 20px;
  background-color: #ebe5f5;
  margin-right: 15rem;
  margin-left: 15rem;
}



  /* MOBILE AND TABLET RESPONSIVE STYLING */
  @media (min-width: 0px) and (max-width: 1024px) {
  
  
  }
  
  
  
  /* TABLET RESPONSIVE STYLING */
  @media (max-width: 768px) {
  
  
  }
  