/* GLOBAL RESPONSIVE STYLING */
.rtl-autocomplete .MuiAutocomplete-popupIndicator {
  direction: rtl;
  left: 0;
}




.rtl-select-shipping .MuiSelect-icon {
  right: auto;
  color: white;
  position: relative;
}

.rtl-select-shipping .MuiSelect-select {
  padding-left: 35px;
  color: black;
  border-bottom: 2px solid white;
}


.rtl-select-shipping .Mui-focused {
  border-bottom: 2px solid #663399;
}


  
  /* MOBILE RESPONSIVE STYLING */
  @media (max-width: 768px) {

  
  }
  
  
  
  /* LAPTOP RESPONSIVE STYLING */
  @media (min-width: 768px) and (max-width: 1919px) {

  }