/* GLOBAL RESPONSIVE STYLING */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  /* background-color: #1A002E; */
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.autocomplete-input input::placeholder {
  color: white;
}

.autocomplete-input .MuiAutocomplete-inputRoot {
  color: white;
}



.counter {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  top: 16px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  transform: translateX(16px)
}


.counter-offcanva {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  transform: translateX(8px) translateY(-5px);
}


.customHr {
  transform: translateY(-2.6rem);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.brand-arrow1 {
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  position: absolute;
  transform: translateY(0.1rem) translateX(0.3rem);
}

.brand-arrow2 {
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  position: absolute;
  right: 0;
  transform: translateY(0.1rem) translateX(-0.3rem);
}



/* MOBILE RESPONSIVE STYLING */
@media (max-width: 768px) {

  
}



/* LAPTOP RESPONSIVE STYLING */
@media (min-width: 768px) and (max-width: 1919px) {

}