/* GLOBAL RESPONSIVE STYLING */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  background-color: #1A002E;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.autocomplete-input input::placeholder {
  color: white;
}

.autocomplete-input .MuiAutocomplete-inputRoot {
  color: white;
}



.counter {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  top: 16px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  transform: translateX(16px)
}



/* MOBILE RESPONSIVE STYLING */
@media (max-width: 768px) {

  
}



/* LAPTOP RESPONSIVE STYLING */
@media (min-width: 768px) and (max-width: 1919px) {

}