/* GLOBAL RESPONSIVE STYLING */
body {
  margin: 0;
  padding: 0;
}

/* Adjust the position of the arrow icon */
.rtl-select .MuiSelect-icon {
  right: auto;
  color: white;
}

.rtl-select .MuiSelect-select {
  padding-left: 40px;
  color: white;
  border-bottom: 2px solid white;
}

.slide-up {
  transform: translateY(-150vh);
  transition: transform 0.8s ease-in-out;
}

.rtl-select .Mui-focused {
  border-bottom: 2px solid red;
}

.radio-label {
  margin-right: 10px;
}


.black-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
  top: 3px;
}

.black-radio:checked::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 32%;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
}

.brand-map-items {
  max-width: 1300px;
  width: 100%;
  display: grid;
  gap: 1.3rem;
  text-align: center;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
}

.sharp-border-brand {
  border-radius: 0;
  transition: 0.3s ease-in-out;
}

.sharp-border-brand:hover {
  border-radius: 0;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 7px 6px rgba(0, 0, 0, 0.45);
}


.image-container {
  padding: 30px;
  transition: padding 0.3s ease;
}


.image-container-brand {
  padding: 30px;
  transition: padding 0.3s ease;
}


.image-container-brand:hover {
  padding: 0;
}


.removed-price {
  text-decoration: line-through;
  color: grey;
}





@media (min-width: 0px) and (max-width: 1024px) {
  
  .brand-map-items {
    gap: 0.8rem;
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .brand-map-items {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 768px) {
  .brand-map-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
