/* GLOBAL RESPONSIVE STYLING */
.shoe-page-height {
  max-height: 130dvh;
}


.second-half {
  direction: rtl;
}



.rest-images {
  width: 100%;
  border-radius: 100%;
  position: relative;
}

.rest-images:hover:not(.main-image) {
  filter: brightness(75%);
}

.rest-images:hover {
  cursor: pointer;
  border-radius: 100%;
  transition: 0.2s ease-in;
  filter: brightness(75%);
}


.contact-icons {
  display: flex;
  align-items: center;
  height: 4rem;
  gap: 35px;
  justify-content: center;
  border-radius: 20px;
  background-color: #ebe5f5;
}


.vertical-line {
  border-left: 1px solid rgb(201, 201, 201);
  height: 105dvh;
  position: absolute;
  transform: translateX(-1.5rem) translateY(0.7rem);
}


.shoe-select .MuiSelect-icon {
  right: 90px;
  color: rgb(0, 0, 0);
}

.shoe-select .MuiSelect-select {
  padding-left: 40px;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}


.shoe-select .Mui-focused {
  border-bottom: 2px solid red;
}




.random-map-items {
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(10, minmax(300px, 1fr));
  flex-wrap: nowrap;
  padding: 2rem 0;
  gap: 0.6rem;
  justify-content: center;
  text-align: center;
}

.scroll-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}


.scroll-arrow {
  cursor: pointer;
  font-size: 2rem;
  margin: -5px;
}

.scroll-arrow1 {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 5px;
}

.scroll-arrow2 {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 5px;
}


.sharp-border {
  border-radius: 0;
  border: 1;
  transition: 0.3s ease-in-out;
}

.sharp-border:hover {
  border-radius: 0;
  border: 1.5px solid black;
  transition: 0.3s ease-in-out;
}


.buttons-group {
  width: 100%;
}


.image-container-random {
  transform: translateX(-0.74rem);
  padding: 30px;
  transition: padding 0.3s ease;
}


.image-container-random:hover {
  padding: 0;
}


/* MOBILE AND TABLET RESPONSIVE STYLING */
@media (min-width: 0px) and (max-width: 1024px) {


  .vertical-line {
    display: none;
  }


  .random-map-items {
    padding: 2rem 2px;
    grid-template-columns: repeat(10, minmax(140px, 1fr));
  }
  
  
  .scroll-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  
  
  .scroll-arrow {
    cursor: pointer;
    font-size: 2rem;
  }


  .shoe-page-height {
    max-height: 100%;
  }
}



/* TABLET RESPONSIVE STYLING */
@media (max-width: 768px) {
  .first-half {
    width: 20%;
  }

  .image-container-random {
    transform: translateX(-0.74rem);
    padding: 20px;
    transition: padding 0.3s ease;
  }
  
  
  .image-container-random:hover {
    padding: 0;
  }
  
}


/* Laptop */
@media (min-width: 1024px) and (max-width: 1440px) {
  /* .vertical-line {
    display: none;
  } */
}
