/* GLOBAL RESPONSIVE STYLING */
body {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    padding: 0;
}



  
  /* MOBILE RESPONSIVE STYLING */
  @media (max-width: 768px) {
  
    body {
      font-family: "Lucida Console", "Courier New", monospace;
    }
  
  }
  
  
  
  /* LAPTOP RESPONSIVE STYLING */
  @media (min-width: 768px) and (max-width: 1919px) {
    body {
      font-family: "Lucida Console", "Courier New", monospace;
    }
  }